@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.main {
	margin-top: 15%;
	text-align: center;
	height: 100%;
	width: 100%;
	color: white;
	font: 'roboto';
	font-size: 40px;
}

.button {
	background-color: black; /* Green */
	border:2px solid white ;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

div#general{
	margin:auto;
	width:1345px;
	height:665px;

}
div#titulo{
	float:left;
  font-family: "Lato";
  font-size: 80px;
	width:900px;
	height:565px;
	color: #2ECC71;

}



div#lista{
  position: absolute;
	top : 800px;
  left: 50px;
  font-family: "Lato";
  font-size: 20px;
	width:900px;
	height:565px;
	color: #2ECC71;

}

#mapa{
	position: relative;
	top: -220px;
	left: 0px;
	max-height: 600px;
	width: auto;
  margin-left: 80px;
	margin-bottom:80px;
  margin-top:-160px;

}

#boton_cambio_color {
	position: absolute;
	top: 600px;
	left: 5px;
}
